<%- include('include-prehead'); -%>
<link rel="stylesheet" type="text/css" href="/css/accueil.css">
<title>Accueil</title>
<%- include('include-posthead'); -%>
<! --=====================================================================-->

    <div class="mainDiv">

        <div id="row1" class="mainimage">
            <div id="row1top" class="topDiv">
                <h1 id="textetop"></h1>
                <h2 id="soustextetop">Notre nouvelle destination</h2>
                <div id="divtop"></div>
            </div>
            <img id="scroll1" class="bottomScroll" src="/img/accueil/bas.png">
        </div>
        <div id="row2" class="barreinferieur"><%- include('include-barrelat'); -%></div>
        <h1 class="mobileRow1">Bienvenue à bord du vaisseau ASTRUNUMIA. L’équipage vous souhaite un excellent voyage.</h1>
        <article class="article">
            <img id="imgd1" class="imgd" src="/img/accueil/d1.png">
            <img id="imgd1" class="imgdM" src="/img/accueil/d1M.png">

            <aside class="mainAside">
                <img class="bandeauimg" src="/img/accueil/icoasavoir1.png">
                <div class="bandeau">
                    <h1 id="tg1" class="titre">Acteur majeur</h1>
                    <h3>Stephen Hawking</h3>
                </div>
                <h2>Une Citation</h2>
                <p class="texte">« Des choses peuvent
                    sortir
                    d’un trou noir, dans notre Univers et peut-être dans d’autres. Donc, si vous sentez que vous
                    êtes
                    dans un trou noir, ne perdez pas espoir : il y a un moyen d’en sortir ! »</p>
                <p class="nom">Stephen Hawking</p>

            </aside>
        </article>
        <article class="article">
            <img id="imgd2" class="imgd" src="/img/accueil/d2.png">
            <img id="imgd2" class="imgdM" src="/img/accueil/d2M.png">
            <aside class="mainAside">
                <img class="bandeauimg" src="/img/accueil/icoasavoir2.png">
                <div class="bandeau">

                    <h1 id="tg2" class="titre"> Ouvrage</h1>
                    <h3>L’idée de création</h3>
                </div>
                <h2>Une Citation</h2>
                <p class="texte">« Au commencement était le Verbe, et le Verbe était en Dieu, et le Verbe était Dieu. »
                </p>
                <p class="nom">Guy SAMAMA</p>

            </aside>
        </article>
        <article class="article">
            <img id="imgd3" class="imgd" src="/img/accueil/d3.png">
            <img id="imgd3" class="imgdM" src="/img/accueil/d3M.png">
            <aside class="mainAside">
                <img class="bandeauimg" src="/img/accueil/icoasavoir3.png">
                <div class="bandeau">

                    <h1 class="titre">Acteur majeur</h1>
                    <h3>Vera Rubin</h3>
                </div>
                <h2>Une Citation</h2>
                <p class="texte">« Comment comprendre la matière noir qui nous entoure, quand notre matière grise reste blottie dans le cocon de la matière blanche »</p>
                <p class="nom">Serge Zeller</p>

            </aside>
        </article>
        <img id="scroll2" class="EndbottomScroll" src="/img/accueil/bas.png">
        <span class="footerac" >
            <div class="reseauxSociaux">
              <a  href="https://www.instagram.com/astrunumia/?hl=fr" target="_blank"><img  id="insta"src='/img/header/instaH.png'> </a>
              <a  href="https://www.facebook.com/Astrunumia-104306377677990" target="_blank"><img id="facebook" src='/img/header/facebookH.png'></a>
              <a href="https://twitter.com/astrunumia" target="_blank"><img id="twitter" src='/img/header/twitterH.png'></a>
            </div>
            <a class="credit" href="/credits">Mentions Légales </a>
        </span>
    </div>


    <script>
        
        window.onload = function () {

            // Définitions des éléments

            var row1 = document.getElementById("row1");
            var row1top = document.getElementById("row1top");

            var row2 = document.getElementById("row2");

            var scroll1 = document.getElementById("scroll1");
            var scroll2 = document.getElementById("scroll2");

            var articles = document.getElementsByClassName("article");
            var asides = document.getElementsByClassName("mainAside");
            var bandeauimg = document.getElementsByClassName("bandeauimg");

            articles[1].style.cursor = 'not-allowed';
            articles[2].style.cursor = 'not-allowed';



            // Animation de l'affichage
            gsap.registerPlugin(ScrollToPlugin);
            gsap.fromTo(row1, { opacity: 0, scale: 0.95, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.2 });
            gsap.fromTo(row2, { opacity: 0 }, { duration: 1, opacity: 1, delay: 0.3 });
            gsap.fromTo(row1top, { opacity: 0 }, { duration: 1, opacity: 1, delay: 0.4 });
            gsap.fromTo(scroll1, { opacity: 0, scale: 0.95, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.8, ease: "bounce.out", onComplete: bounce1 });

            gsap.to('#textetop', 2, { text: "LES TROUS NOIRS", ease: "rough({ template: none.out, strength: 1, points: 20, taper: 'none', randomize: true, clamp: false})".easeIn, delay: 0.5 });
            gsap.fromTo('#soustextetop', { opacity: 0 }, { duration: 1, opacity: 1, delay: 0.6 });
            gsap.fromTo('#divtop', { opacity: 0 }, { duration: 1, opacity: 1, delay: 0.7 });



            // Animation des Ancres
            scroll1.addEventListener("click", function () {
                gsap.to(window, { duration: 1, scrollTo: { y: "article", offsetY: 100 } });
            });
            scroll2.addEventListener("click", function () {
                gsap.to(window, { duration: 2, scrollTo: { y: ".mainDiv", ease: "circ.out"} });
            });
            scroll1.addEventListener("mouseenter", function () {
                gsap.to(scroll1, { duration: 0.5, scale: 1.1 });
            });
            scroll1.addEventListener("mouseleave", function () {
                gsap.to(scroll1, { duration: 0.5, scale: 1 });
            });
            scroll2.addEventListener("mouseenter", function () {
                gsap.to(scroll2, { duration: 0.5, scale: 1.1 });
            });
            scroll2.addEventListener("mouseleave", function () {
                gsap.to(scroll2, { duration: 0.5, scale: 1 });
            });

            function bounce1() {
                gsap.to(scroll1, { duration: 1, y: -50, delay: 6 });
                gsap.to(scroll1, { duration: 1, y: 0, delay: 6.5, ease: "bounce.out", onComplete: bounce1 });
            }

            if(screen.width > 550){
            // Affichage au scroll
            var controller = new ScrollMagic.Controller();
            var tl1 = new TimelineMax({ onComplete: articleaff1 });
            var tl2 = new TimelineMax({ onComplete: articleaff2 });
            var tl3 = new TimelineMax({ onComplete: articleaff3 });

            function articleaff1() {
                var value = 0.7;
                gsap.fromTo(articles[0], { opacity: 0, scale: 0.95, x: 200 }, { duration: 1, opacity: value, scale: 1, x: 0, delay: 0 });
                gsap.fromTo(asides[0], { opacity: 0, scale: 0.95, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.2 });
                gsap.fromTo(bandeauimg[0], { opacity: 0, scale: 0.85, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.4 });
            }

            function articleaff2() {
                var value = 0.7;
                gsap.fromTo(articles[1], { opacity: 0, scale: 0.95, x: 200 }, { duration: 1, opacity: value, scale: 1, x: 0, delay: 0 });
                gsap.fromTo(asides[1], { opacity: 0, scale: 0.95, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.2 });
                gsap.fromTo(bandeauimg[1], { opacity: 0, scale: 0.85, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.4 });
            }

            function articleaff3() {
                var value = 0.7;
                gsap.fromTo(articles[2], { opacity: 0, scale: 0.95, x: 200 }, { duration: 1, opacity: value, scale: 1, x: 0, delay: 0 });
                gsap.fromTo(asides[2], { opacity: 0, scale: 0.95, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.2 });
                gsap.fromTo(bandeauimg[2], { opacity: 0, scale: 0.85, y: -100 }, { duration: 1, opacity: 1, scale: 1, y: 0, delay: 0.4 });
            }

            var scene = new ScrollMagic.Scene({ triggerElement: "#row2", triggerHook: 0 }).setTween(tl1).addTo(controller);
            var scene = new ScrollMagic.Scene({ triggerElement: "#tg1", triggerHook: 0 }).setTween(tl2).addTo(controller);
            var scene = new ScrollMagic.Scene({ triggerElement: "#tg2", triggerHook: 0 }).setTween(tl3).addTo(controller);
            }else{
                gsap.fromTo(articles[0], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(asides[0], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(bandeauimg[0], { opacity:0 }, { duration: 1, opacity: 1 });

                gsap.fromTo(articles[1], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(asides[1], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(bandeauimg[1], { opacity:0 }, { duration: 1, opacity: 1 });

                gsap.fromTo(articles[2], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(asides[2], { opacity:0 }, { duration: 1, opacity: 1 });
                gsap.fromTo(bandeauimg[2], { opacity:0 }, { duration: 1, opacity: 1 });

            }
   


            //Animations des actions sur les articles

            articles[0].addEventListener("mouseenter", function () { articlehoverin(articles[0]) });
            articles[0].addEventListener("mouseleave", function () { articlehoverout(articles[0]) });
            articles[0].addEventListener("click", function () { articleclick(articles[0], 1) });

            articles[1].addEventListener("mouseenter", function () { articlehoverin(articles[1]) });
            articles[1].addEventListener("mouseleave", function () { articlehoverout(articles[1]) });
            articles[1].addEventListener("click", function () {articleclickinactif(articles[1])});

            articles[2].addEventListener("mouseenter", function () { articlehoverin(articles[2]) });
            articles[2].addEventListener("mouseleave", function () { articlehoverout(articles[2]) });
            articles[2].addEventListener("click", function () {articleclickinactif(articles[2])});
        
        var animok = true;
        function articlehoverin(cible) {
            if (animok) {
                gsap.to(cible,{ duration: 0.5, opacity : 1 });
            }
        }

        function articlehoverout(cible, lien) {
            if (animok) {
                gsap.to(cible,{ duration: 0.5, opacity : 0.7 });

            }
        }

        function articleclick(cible, lien) {
            Haptics.vibrate(10); 
            animok = false;
            gsap.to(cible, { duration: 0.7, scale: 0.2, opacity: 0, delay: 0, onComplete: redirect, onCompleteParams: [lien] });
        }

        function articleclickinactif(cible) {
            Haptics.vibrate(50); 
            gsap.to(cible, { duration: 0.7, scale: 0.9, delay: 0});
            gsap.to(cible, { duration: 0.7, scale: 1, delay: 0.2});
        }

        function redirect(lien) {
            var route = "/destinations/" + lien + "";
            window.location.href = route;
        }
    }


    </script>
    <! --=====================================================================-->
        <%- include('include-endpage'); -%>