<%- include('include-prehead'); -%> 
<link rel="stylesheet" type="text/css" href="/css/equipage.css">
<title>Equipage</title>
<%- include('include-posthead'); -%> 
<! --=====================================================================-->

            
 
<! --=====================================================================-->
<%- include('include-endpage'); -%> 