<%- include('include-prehead'); -%>
<link rel="stylesheet" type="text/css" href="/css/equipage.css">
<title>Equipage</title>
<%- include('include-posthead'); -%>
<! --=====================================================================-->
    <div class="mainDiv">
        <div class="row row1">
            <div class="lefttexteDiv">
                <h1>L’équipage</h1>
                <h2>Nous vous souhaitons la bienvenue</h2>
                <div></div>
            </div>
            <div class="righttexteDiv">
                <div></div>
                <p>ASTRUNUMIA c’est le projet universitaire de trois étudiants passionnés
                    par les astres et les mystères du ciel. Au delà du devoir d’étudiant
                    nous avons décelé une réel opportunité. Celle de faire parler nos compétences
                    au service de l’astronomie.</p>

            </div>
        </div>

        <div class="row row2">
            <div class="carteequipage" id="btnnico">
                <span id="frontcarte" class="frontcarte">
                    <img id="btnd3" src='/img/equipage/nico.png'>
                </span>
                <span id="backcarte" class="backcarte">
                    <p>Votre voyage sera toujours plus beau avec Nicolas, il met des couleurs dans les zones grises.</p>
                    <h3>Graphiste et Designer</h3>
                    <p class="contacter">Contactez-le</p>
                    <p class="emailequipage">nicolasgermani2@gmail.com</p>
                </span>
                <h1 class="nomequipage">Nicolas<br>GERMANI</h1>
            </div>

            <div class="carteequipage" id="btnjf">
                <span id="frontcarte" class="frontcarte">
                    <img id="btnd3" src='/img/equipage/jf.png'>
                </span>
                <span id="backcarte" class="backcarte">
                    <p>Si ce vaisseau peut avancer, c'est gràce à Jean-françois, il rend votre expérience toujours plus
                        intelligente.</h3>
                        <h3>Développeur et Designer</h3>
                        <p class="contacter">Contactez-le</p>
                        <p class="emailequipage">giammari.jf@gmail.com<br><a
                                href="www.jf-giammari.fr">www.jf-giammari.fr</a></p>
                </span>
                <h1 class="nomequipage">Jean-François<br>GIAMMARI</h1>
            </div>

            <div class="carteequipage" id="btnju">
                <span id="frontcarte" class="frontcarte">
                    <img id="btnd3" src='/img/equipage/julien.png'>
                </span>
                <span id="backcarte" class="backcarte">
                    <p>Julien c'est celui qui sera à votre écoute il fait grandir ce projet et guide toute une
                        communauté.</p>
                    <h3>Communicant et Designer</h3>
                    <p class="contacter">Contactez-le</p>
                    <p class="emailequipage">serpijulien@gmail.com</p>
                </span>
                <h1 class="nomequipage">Julien<br>SERPI</h1>
            </div>
        </div>
    </div>
    <div class="barreinferieur">
        <%- include('include-barrelat'); -%>
    </div>

    <script>
        // Animations des éléments de la page
        var btnnico = document.getElementById('btnnico');
        btnnico.addEventListener("mouseenter", function () { hoverinequi(btnnico) });
        btnnico.addEventListener("mouseleave", function () { hoveroutequi(btnnico) });
        btnnico.style.cursor = 'pointer';

        var btnjf = document.getElementById('btnjf');
        btnjf.addEventListener("mouseenter", function () { hoverinequi(btnjf) });
        btnjf.addEventListener("mouseleave", function () { hoveroutequi(btnjf) });
        btnjf.style.cursor = 'pointer';

        var btnju = document.getElementById('btnju');
        btnju.addEventListener("mouseenter", function () { hoverinequi(btnju) });
        btnju.addEventListener("mouseleave", function () { hoveroutequi(btnju) });
        btnju.style.cursor = 'pointer';

        function hoverinequi(btnequipage) {
            Haptics.vibrate(10);
            var id = btnequipage.id;
            var front = document.getElementById(id).children[0];
            var back = document.getElementById(id).children[1];
            var name = document.getElementById(id).children[2];
            gsap.fromTo(btnequipage, { backgroundColor: '#28282B' }, { duration: 1, opacity: 1, backgroundColor: '#FFFFFF' });
            front.style.display = 'none';
            back.style.display = 'flex';
            name.style.color = '#5800FF';
            gsap.fromTo(back, { scale: 0.9, opacity: 0 }, { duration: 1, scale: 1, opacity: 1 });
        }
        function hoveroutequi(btnequipage) {
            var id = btnequipage.id;
            var front = document.getElementById(id).children[0];
            var back = document.getElementById(id).children[1];
            var name = document.getElementById(id).children[2];
            gsap.fromTo(btnequipage, { backgroundColor: '#FFFFFF' }, { duration: 1, opacity: 1, backgroundColor: '#28282B' });
            front.style.display = 'flex';
            back.style.display = 'none';
            name.style.color = '#FFFFFF';
            gsap.fromTo(front, { scale: 0.5, opacity: 0 }, {
                duration: 1, opacity: 1,
                scale: 1, stagger: 0.5, ease: "bounce"
            });

        }

        window.onload = function () {
            gsap.fromTo(".row1", { opacity: 0, y: -200 }, { duration: 1, opacity: 1, y: 0 });
            gsap.fromTo(".row2", { opacity: 0 }, { duration: 2, opacity: 1, delay: 0.5 });

            document.querySelectorAll(".carteequipage").forEach(function (box) {
                gsap.fromTo(".carteequipage", { scale: 0.5, opacity: 0 }, {
                    duration: 1, opacity: 1,
                    scale: 1, stagger: 0.5, ease: "bounce"
                });

            });
        }

    </script>


<! --=====================================================================-->
<%- include('include-endpage'); -%>