<%- include('prehead'); -%> 
<link rel="stylesheet" type="text/css" href="/css/equipage.css">
<title>Equipage</title>
<%- include('posthead'); -%> 
<body> <! --======================================================= Début de la page -->

<%- include('header'); -%>
    
</body><! --======================================================= Fin -->
</html