<div class="barrelatcontainer">

<div class=" col col1 ">
    <h1>COMMENTAIRE DE LA SEMAINE</h1>
    <h2>Par Eric29</h2>
    <p>Il est vrai que les trous noirs sont les objets célestes les plus massifs et d’ailleurs, celui au centre de notre galaxie ne cesse de croître en se nourrissant de la matière environnante ! Le phénomène prend beaucoup d’amplitude. Des vrais bestiaux… </p>
</div>

<div class=" col col2 ">
    <h1>VOTES</h1>
    <div class="votesbl">
        <div class="conteneurvote">
            <p>Les Etoiles</p>
            <progress class="progressbar1" id="vote1pb" max="100" value=<% if (locals.vote1) { %><%=vote1%><% } %>></progress>

        </div>
        <div class="conteneurvote">

            <p>Le système solaire</p>
            <progress class="progressbar2" id="vote2pb" max="100" value=<% if (locals.vote2) { %><%=vote2%><% } %>></progress>

        </div>
        <div class="conteneurvote">

            <p for="vote3pb">Les Galaxie</p>
            <progress class="progressbar3" id="vote3pb" max="100" value=<% if (locals.vote3) { %><%=vote3%><% } %>></progress>

        </div>

    </div>
    <a class="cookiesbtn btnsimple" href="/cookie">VOTER</a>
</div>
<div class=" col col3">
    <h1>Message de l’équipage</h1>
    <h2>Par l'équipe ASTRUNUMIA</h2>
    <p>Bienvenu à bord du vaisseau ASTRUNUMIA. L’équipage vous souhaite un excellent voyage.
        N’oubliez pas de nous suivre sur les réseaux sociaux pour partager avec la communauté ! 
        </p>
</div>
</div>

<script>
      gsap.fromTo(".col1",{opacity: 0,y:200}, { duration: 1, opacity: 1,y:0 });
      gsap.fromTo(".col2",{opacity: 0,y:200}, { duration: 1, opacity: 1,y:0,delay:0.2});
      gsap.fromTo(".col3",{opacity: 0,y:200}, { duration: 1, opacity: 1,y:0,delay:0.4 });
      gsap.fromTo(".progressbar1",{opacity: 0,scaleX:0,x:-70}, { duration: 1, opacity: 1,scaleX:1,x:0,delay:0.9 });
      gsap.fromTo(".progressbar2",{opacity: 0,scaleX:0,x:-70}, { duration: 1, opacity: 1,scaleX:1,x:0,delay:1 });
      gsap.fromTo(".progressbar3",{opacity: 0,scaleX:0,x:-70}, { duration: 1, opacity: 1,scaleX:1,x:0,delay:1.1 });
  </script>