<div class="formulaire">
    <form class="mainForm" action="/passager/enregistrement" method="post">
        <div class="input">
            <h1>Créer mon Pass</h1>
            <input type="texte" id="username" name="username" placeholder="Pseudo" minlength="4" maxlength="13" required>
            <div class="barrepass"></div>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <div class="barrepass"></div>
            <input type="password" id="password" name="password" placeholder="Mot de Passe" minlength="4" required>
            <div class="barrepass"></div>
            <div class="PasseBtn">
                <a class="btnlien" href="/passager/authentification">M'identifier</a><br>
                <button class="btnsub" type="submit">M'enregistrer</button>
            </div>
        </div>

</form>


</div>