</head>

<% if (locals.alert) { %>
<div id="alertetop" class="alerte">
  <%=alert%>
  <span class="fermeturebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div><%}%>

<script>
  // Animation de l'encart d'alerte d'erreur
  gsap.fromTo(".alerte", { opacity: 0 }, { duration: 1, opacity: 1 });

  //Animation de fermeture de l'encart d'alerte
  var close = document.getElementsByClassName("fermeturebtn");
  var i;
  for (i = 0; i < close.length; i++) {
    close[i].onclick = function () {
      var div = this.parentElement;
      gsap.fromTo(".alerte", { opacity: 1 }, { duration: 1, opacity: 0 });
      setTimeout(function () { div.style.display = "none"; }, 600);
    }
  }


  function sound(src) {
  this.sound = document.createElement("audio");
  this.sound.src = src;
  this.sound.setAttribute("preload", "auto");
  this.sound.setAttribute("controls", "none");
  this.sound.style.display = "none";
  this.sound.setAttribute("loop",true);
  document.body.appendChild(this.sound);
  this.play = function(){
    this.sound.play();
  }
  this.stop = function(){
    this.sound.pause();
  }
}

</script>

<body>
  
  <div class="conteneur">
    <div class="contenueHeader">
      <%- include('header'); -%>
    </div>
    <div class="contenue">