<%- include('prehead'); -%> 
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/cookie.css">
<title>Astrunumia</title>
<%- include('posthead'); -%> 

<body> <! --======================================================= Début de la page -->


  <% if (locals.cookie == undefined) { %>
    <div class="cookies">
      Pour poursuivre votre navigation sur ce site, vous devez accepté l’utilisation
       des Cookie.<a class="cookiesbtn" href="/cookie">J'accepte</a>
  
    </div>
    <% }%>
    <style>
      .alert {
        opacity: 1;
        transition: opacity 0.6s; 
      }
      </style>
      
      <script>
      var close = document.getElementsByClassName("fermeturebtn");
      var i;
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
          var div = this.parentElement;
          div.style.opacity = "0";
          setTimeout(function(){ div.style.display = "none"; }, 600);
        }
      }
      </script>

                <img  src="img/main/logo.png" class="logo ">
                <h1 class="textelogo">ASTRUNUMIÀ</h1>
                <h6 class="texte">Prenez plaisir à comprendre ce qui vous entoures</h6>
                <% if (locals.cookie != undefined) { %>
                <a  href="/accueil" class="bouton ">Découvrir</a>
                <%} else{%>
                <a  href="/" class="bouton disable">Découvrir</a>
                <%}%>

      
      
      </body><! --======================================================= Fin -->
      </html
    







>