.mainDiv {
    color: white;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.mainimage {
    background-image: url('/img/accueil/topimg.png');
    background-size: 90vw;
    background-repeat: no-repeat;
    width: 100%;
    height: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topDiv {
    margin: 6%;
    margin-top: 5%;
}

.topDiv h1 {
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: uppercase;
}

.topDiv h2 {
    font-size: 1.5vw;
    font-weight: 400;
    padding-top: 0.3vw;
}

.topDiv div {
    width: 5vw;
    height: 0.3vw;
    background-color: #6514FF;
    margin-top: 2.5%;
}

.bottomScroll {
    align-self: center;
    margin-bottom: 1.5vw;
    width: 4.5vw;
}

.EndbottomScroll {
    align-self: center;
    margin-bottom: 5%;
    margin-top: 4%;
    width: 4vw;
    rotate: 180%;
    transform: rotate(180deg);
}

article {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
   
}

.imgdM {
    display: none
}

.imgd {
    display: flex;
    width: 82%;
    height: auto;
}



article aside {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bandeau {
    background-color: rgb(38, 38, 41);
    text-align: center;
    padding-top: 4.5vw;
    margin-top: 4vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    position: relative;
}

.bandeauimg {
    width: 8vw;
    height: auto;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    z-index: 2;
    align-self: center;
}

.bandeau h1 {
    text-align: center;
    width: 100%;
    font-size: 1vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.10vw;
    padding-top: 2.5%;
}

.bandeau h3 {
    text-align: center;
    width: 100%;
    font-size: 0.8vw;
    font-weight: 200;
    letter-spacing: 0.05vw;
    opacity: 0.5;
    padding-top: 2%;
    padding-bottom: 17%;
}

aside h2 {
    font-size: 0.9vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    text-align: left;
    width: 79%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 0%;
}

aside p {
    font-size: 0.9vw;
    font-family: 'GFS Didot', serif;
    text-align: left;
    font-style: italic;
    line-height: 1.4vw;
    color: rgb(117, 117, 117);
    width: 79%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 0%;
}

aside .nom {
    margin-top: 11%;
}

#row1, #row1top, #row2, article, aside{
    opacity: 0;
}

.footerac{
    display: none;
}

.mobileRow1{
    display: none;
}


@media (max-width: 550px) {

    .mobileRow1{
        width: 90%;
        display: flex;
        align-self: center;
        text-align: center;
        font-size: 5vw;
        margin-top: 6vw;
    }
    .mainimage {
        display: none;
    }
    .barreinferieur {
        display: none;
    }
    .mainimage {
        display: none;
    }
    .imgd {
        display: none;
    }
    .imgdM {
        display: flex;
    }
    article {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }
    article .imgdM {
        width: 90vw;
    }
    .mainDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .EndbottomScroll {
        display: none;
    }
    .mainAside {
        display: none;
    }

    
.iconeDestination {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerac {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7%;
    margin : auto;
    background-color: #1B1B1B;
    margin-bottom: 2vw;
    margin-top: 10vw;
}

.reseauxSociaux {
    width: 100%;
    text-align: center;
    margin-bottom: 4%;
}

.reseauxSociaux a {
    margin: 2%;
}

.reseauxSociaux img {
    width: 10%;
    height: auto;
    opacity: 0.1;
}
.credit{
   
    color: #FFFFFF30;
    margin : auto;
    font-size: 5vw;
    padding-bottom: 5vw;
    
}

 
}