.mainDiv {
    color: white;
    display: flex;
    flex-direction: column;


}

.row {
    display: flex;
    flex-direction: row;
    opacity: 0;
}

.row1 {
    justify-content: space-between;
    margin: 4%;
    margin-bottom: 2%;
}

.righttexteDiv {
    width: 52%;
    display: flex;
    flex-direction: row;
}

.row1 .lefttexteDiv h1 {
    font-size: 3.5vw;
    font-weight: 800;
    text-transform: uppercase;
}

.row1 .lefttexteDiv h2 {
    font-size: 1.5vw;
    font-weight: 400;
    padding-top: 0.3%;
}

.row1 .lefttexteDiv div {
    width: 5vw;
    height: 0.3vw;
    background-color: #6514FF;
    margin-top: 5%;
}

.row1 .righttexteDiv p {
    font-size: 1vw;
    letter-spacing: 0.10em;
    line-height: 1.4em;
    font-weight: 400;
}

.row1 .righttexteDiv div {
    width: 1.2vw;
    height: 3vw;
    background-color: #6514FF;
    margin-right: 5%;
}

.row2 {
    justify-content: space-evenly;
}

.carteequipage {
    display: flex;
    flex-direction: column;
    background-color: #28282B;
    justify-content: center;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    width: 35vh;
    height: 35vh;
    margin-top: 2%;
}

.backcarte {
    display: none;
    flex-direction: column;
    padding: 0vw 2vw 0vw 2vw;
    height: 75%;
    color: black;
}

.frontcarte {
    display: flex;
    height: 75%;
}

.nomequipage {
    margin-left: 1.2vw;
    font-size: 0.95vw;
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: 0.1em;
}

.frontcarte {
    align-self: center;
}

.frontcarte img {
    width: 11vw;
    height: 11vw;
    padding-top: 1vw;
}

.backcarte p {
    font-size: 0.9vw;
    font-weight: 400;
    padding-top: 4%;
}

.backcarte h3 {
    font-size: 1vw;
    font-weight: 600;
    padding-top: 5%;
    padding-bottom: 5%;
}

.backcarte .emailequipage {
    color: #6514FF;
    font-size: 0.8vw;
    letter-spacing: 0.1em;
    padding-top: 2%;
    line-height: 1.1em;
}

.backcarte .emailequipage a {
    color: #6514FF;
}

.barreinferieur {
    display: flex;
    position: fixed;
    bottom: 0;
}

@media (max-width: 550px) {
    .mainDiv {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10%;

    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .barreinferieur {
        display: none;
    }
    .row1 {
        justify-content: space-between;
        margin: 4%;
        margin: auto;
        flex-direction: column;
    }
    .righttexteDiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .row1 .lefttexteDiv h1 {
        font-size: 14vw;
    }
    .row1 .lefttexteDiv h2 {
        font-size: 4.6vw;
        font-weight: 300;
        padding-top: 4%;
    }
    .row1 .lefttexteDiv div {
        display: none;
    }
    .row1 .righttexteDiv p {
        font-size: 2.5vw;
        font-weight: 400;
        padding-top: 5%;
        text-align: justify;
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
    }
    .row1 .righttexteDiv div {
        display: none;
    }
    .row2 {
        justify-content: space-evenly;
    }
    .carteequipage {
        display: flex;
        flex-direction: column;
        background-color: #28282B;
       
        
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        width: 37vh;
        height: 37vh;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    .backcarte {
        display: none;
        flex-direction: column;
        color: black;
        text-align: left;
    }
    .frontcarte {
        display: flex;
        flex-direction: column;
    }
    .nomequipage {
        display: flex;
        font-size: 5vw;
        padding-top: 4%;
        font-weight: 300;
        margin-left: 6%;
        margin-bottom: 4%;
        text-align: left;
    }
    .frontcarte {
        align-self: center;
    }
    .frontcarte img {
        width: 45vw;
        height: 45vw;
        padding-top: 3vw;
    }
    .backcarte p {
        font-size: 3.5vw;
        font-weight: 400;
        width: 90%;
        margin: auto;
        text-align: left;
        padding: 0%;
    }
    .backcarte h3 {
        font-size: 4vw;
        font-weight: 600;
        padding: 0%;
        text-align: center;
        margin: none;
    }
    .backcarte .contacter {
        display: none;
    }
    .backcarte .emailequipage {
        color: #6514FF;
        padding-top: 0%;
        font-size: 3vw;
        letter-spacing: 0.1em;
        line-height: 1.1em;
        text-align: center;
    }
    .backcarte .emailequipage a {
        color: #6514FF;
    }
}