.debug{border: solid red 1px;}
.debugv{border: solid green 1px;}
.debugb{border: solid blue 1px;}
body{
    font-family: 'Poppins', serif;
}

a{
    text-decoration: none;
}


.conteneur{
    display: flex;
    flex-direction: row;
}

.contenueHeader{
    min-width: 310px;
    width: 20vw;
}

.stickHeader{
    width: 100%;
    position: fixed;
    float: left;
    
   
}


.contenue{
    flex-direction: column;
    width: 100%;
    height: 140vh;
}

.btnfull{
    padding : 1em 3em 1em 3em;
    background: #5800FF;
    border: 2px solid #5800FF;
    font-weight: bold;
    border-radius : 0.3em 0.3em 0.3em 0.3em ;
    color : white
}

.btnfull:hover{
    background: rgb(68, 1, 192);
    color: white;
    text-decoration: none;
}
    

.btnline{
    padding : 1em 3em 1em 3em;
    background: #5800FF33;
    border: 2px solid #5800FF;
    font-weight: bold;
    border-radius : 0.3em 0.3em 0.3em 0.3em ;
    color : white;
}
.btnline:hover{

    border: 3px solid rgb(113, 4, 255);
    color: white;
    text-decoration: none;
}

.btnsimple{
    padding : 1em 3em 1em 3em;
    background: white;
    border: 2px solid white;
    font-weight: bold;
    border-radius : 0.3em 0.3em 0.3em 0.3em ;
    color :  #5800FF;
}
.btnsimple:hover{

    border: 3px solid rgb(113, 4, 255);
    color:  #5800FF;
    text-decoration: none;
}



@media (min-width: 320px) and (max-width: 480px) {
  
    .btnfull{
        padding : 0.7em 2.7em 0.7em 2.7em;
    }

    .btnline{
        padding : 0.7em 2.7em 0.7em 2.7em;

    }

    .btnsimple{
        padding : 0.7em 2.7em 0.7em 2.7em;
    }

      }