header {
    width: 100%;
    height: 94%;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.HPass {
    background-image: url('/img/header/pass.png');
    background-size: 105%;
    background-position: center;
    background-color: rgba(40, 40, 43, 1);
    background-repeat: no-repeat;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    height: 20%;
    margin: 3%;
}

.HPass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HProfile {
    width: 50%;
}

.HPass img {
    width: 60%;
    height: auto;
    margin-top: 15%;
    margin-left: 10%;
}

.ouiIcoDonateur {
    border: solid#FFE241 0.15vw;
    border-radius: 50% 50% 50% 50%;
}

.nonIcoDonateur {
    border: solid#5800FF 0.15vw;
    border-radius: 50% 50% 50% 50%;
}

a {
    text-decoration: none;
    color: white;
}

.Htexte {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: OCR;
    justify-content: flex-start;
    margin: 12% 0% 12% 12%;
}

.Htexte2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.HPass .Htexte h1 {
    font-size: 1.1vw;
}

.HPass .Htexte h2 {
    font-size: 0.7vw;
    color: #FFFFFF;
    opacity: 0.5;
}

.HPass .Htexte h3 {
    font-size: 1.2vw;
    padding-top: 6%;
    letter-spacing: 0.1em;
}

.HCard {
    background-color: rgba(40, 40, 43, 1);
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    height: 11%;
    margin: 0% 3% 3% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HCard div {
    flex-direction: column;
    margin-left: 6%;
}

.HCard img {
    width: 17%;
    padding: 6% 6% 6% 1%;
}

.HCard h1 {
    font-weight: 600;
    letter-spacing: 0.06em;
    font-size: 1vw;
}

.HCard h3 {
    font-size: 0.80vw;
    color: #FFFFFF;
    opacity: 0.5;
    padding-top: 2.5%;
}

.HDestinations {
    margin: 6% 3% 3% 3%;
}

.HDestinations h3 {
    font-size: 0.80vw;
    font-weight: 500;
    letter-spacing: 0.07em;
    margin-left: 0.25em;
    color: #FFFFFF;
    opacity: 0.5;
}

.HDestinations img {
    width: 34%;
    height: auto;
    margin: 0% 2% 0% 2%;
    float: left;
}

.iconeDestination {
    margin-top: 5%;
    text-align: center;
}

footer {
    width: 100%;
    height: 6%;
    background-color: #1B1B1B;
}

.reseauxSociaux {
    width: 100%;
    text-align: center;
}

.reseauxSociaux a {
    margin: 2%;
}

.reseauxSociaux img {
    width: 8%;
    height: auto;
    opacity: 0.1;
}

.mobileHeader {
    display: none;
}

.globalHeader {
    display: inline;
}

#insta:hover {
    opacity: 1;
}

#facebook:hover {
    opacity: 1;
}

#twitter:hover {
    opacity: 1;
}

@media (max-width: 550px) {
    .globalHeader {
        display: none;
    }
    .mobileHeader {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .logotitle {
        font-family: 'GFS Didot', serif;
        font-size: 6vw;
        letter-spacing: 0.3em;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: bold;
    }
    .topnav {
        overflow: hidden;
        background-color: rgba(40, 40, 43, 1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    #liens {
        display: none;
        flex-direction: column;
        border-top: 6px solid rgb(51, 51, 53);
    }
    #liens a {
        padding: 4% 0% 4% 0%;
        background-color: rgba(40, 40, 43, 1);
        text-align: center;
        font-size: 7vw;
        font-weight: 300;
        border-bottom: 3px solid rgb(51, 51, 53);
    }
    .topnav .logotitle {
        color: white;
        padding: 6% 5% 6% 5%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .topnav .icon {
        float: right;
        width: 18%;
    }
    .active {
        color: white;
    }
    .ham {
        width: 94%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 300ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #FFFFFF;
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    .ham1 .top {
        stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }
    .ham1.active .top {
        stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }
}