.formulaire{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    
    
}

.mainForm{
    background-image: url("/img/authentificationG/pass1.png");
    background-size: cover;
    width: 33vw;
    height: 23vw;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 9% 11% 7% 11%;
}

.input h1{
    font-family: OCR;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-bottom: 3%;
}

.input input{
    cursor: pointer;
    font-family: OCR;
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF90;
    background-color: #FFFFFF00;
    border: none;
    line-height: -10px;
    margin-top: 5%;

}


.input input:focus{
    color: white;
}

.input .barrepass{
    border-top : solid #FFFFFF50 0.10vw;
    margin-top: 0.25vw;
}

.PasseBtn{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.btnsub{
    padding :  0.5vw 2.5vw 0.5vw 2.5vw;
    background: #6514FF33;
    letter-spacing: 0.06vw;
    color : white;
    border: 3px solid  #6514FF33;
    font-size: 0.9vw;
    font-weight: 700;
    cursor : pointer;
}
.btnsub:hover{

    border: 3px solid rgb(107, 34, 253);
    color: white;
    text-decoration: none;
}

.btnlien{

    color : white;
    font-size: 1vw;
    font-weight: 400;
    margin: auto;
    margin-right: 2vw;
}
.btnlien:hover{

    color : #6514FF;
}

@media (max-width: 550px) {

    .mainForm{
        width: 80vw;
        height: 65vw;
        margin: auto;
    }
    
    .input{

        margin: 9% 11% 7% 11%;
    }
    
    .input h1{
        text-align: left;
        font-size: 5vw;
        margin-bottom: 3%;
    }
    
    .input input{
        font-size: 4.2vw;
        margin-top: 4%;
    
    }

    
    .input .barrepass{
        border-top: solid #FFFFFF50 0.3vw;
        margin-top: 0.30vw;
    }
    
    .PasseBtn{
        margin-top: 10%;

    }
    
    .btnsub{
        padding :  2vw 2vw 2vw 2vw;
        font-size: 3.5vw;
    }

    
    .btnlien{

        font-size: 3.5vw;
        margin-right: 2vw;
    }
}