
body{
    background: #1B1B1B;
    display: flex;
    flex-direction: column;
    padding-top : 15%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}




.logo{
    padding-bottom: 12%;
    width: 10em;
    height: auto;

}
.textelogo{
    font-family: 'GFS Didot', serif;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    text-transform: uppercase;
    
}

.texte{
    font-family: 'Poppins', serif;
    color: #FFFFFF;
}

.bouton{
background: #5800FF33;
border: 2px solid #5800FF;
color: white;

}

.bouton:hover{
background: #5800FF33;
border: 2px solid #5800FF;
color: white;
text-decoration: none;
}


@media (min-width: 320px) and (max-width: 480px) {
  
    
    
  }