.mainDiv {
    color: white;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row1 {
    justify-content: space-between;
    margin: 4%;
    margin-bottom: 3%;
}

.row1 .lefttexteDiv h1 {
    font-size: 3.5vw;
    font-weight: 800;
    text-transform: uppercase;
}

.row1 .lefttexteDiv h2 {
    font-size: 1.5vw;
    font-weight: 400;
    padding-top: 2%;
}

.row1 .lefttexteDiv div {
    width: 5vw;
    height: 0.3vw;
    background-color: #5800FF;
    margin-top: 5%;
}

.righttexteDiv {
    width: 52%;
    display: flex;
    flex-direction: row;
}

.row1 .righttexteDiv p {
    font-size: 1vw;
    letter-spacing: 0.10em;
    line-height: 1.4em;
    font-weight: 400;
}

.row1 .righttexteDiv div {
    width: 0.8vw;
    height: 3vw;
    background-color: #5800FF;
    margin-right: 4.5%;
}

.barreinferieur {
    display: flex;
    position: fixed;
    bottom: 0;
}

.voteinactif {
    font-size: 2vw;
    color: white;
    text-align: center;
    padding-top: 2vw;
}

.row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textevote {
    color: white;
    font-size: 2vw;
    font-weight: 800;
    letter-spacing: 0.2em;
    opacity: 0;
}

.textevotenum {
    color: white;
    font-size: 1.7vw;
    font-weight: 500;
    letter-spacing: 0.1em;
    opacity: 0;
}

.btnvote {
    width: 19vw;
    height: 17vw;
    border: none;
    background-size: 100%;
    background-repeat: repeat;
    background-color: #1B1B1B;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    background-position: center;
}

#cvote1 {
    background-image: url('/img/vote/Vote1.png');
}

#cvote1:hover {
    background-image: url('/img/vote/Vote1T.png');
}

#cvote2 {
    background-image: url('/img/vote/Vote2.png');
}

#cvote2:hover {
    background-image: url('/img/vote/Vote2T.png');
}

#cvote3 {
    background-image: url('/img/vote/Vote3.png');
}

#cvote3:hover {
    background-image: url('/img/vote/Vote3T.png');
}

@media (max-width: 550px) {
    .mainDiv {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .barreinferieur {
        display: none;
    }
    .row1 {
        justify-content: space-between;
        margin: 4%;
        margin: auto;
        flex-direction: column;
    }
    .righttexteDiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .row1 .lefttexteDiv h1 {
        font-size: 16vw;
    }
    .row1 .lefttexteDiv h2 {
        font-size: 4.6vw;
        font-weight: 300;
        padding-top: 1.5%;
    }
    .row1 .lefttexteDiv div {
        display: none;
    }
    .row1 .righttexteDiv p {
        font-size: 2.5vw;
        font-weight: 400;
        padding-top: 5%;
        text-align: justify;
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
    }
    .row1 .righttexteDiv div {
        display: none;
    }
    .row2 {
        flex-direction: column;
    }
    .btnvote {
        width: 70vw;
        height: 65vw;
        margin: 5%;
    }
    .form {
        padding-bottom: 15%;
    }
    .textevote {
        display: none;
    }
    .textevotenum {
        display: none;
    }
}